*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Chakra Petch', sans-serif;

}


.title{
    color: #f1f1f1;
    text-align: center;
    margin: 50px 0;
}



.contador-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
}

.contador{
    padding: 20px;
}

.number{
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

.contador button{
    margin: 10px;
}

.button{
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: none;
    border-radius: 60px;
    background-color: #91EAE4;
    cursor: pointer;
    transition: all 200ms ease;
}

.button:hover{
    background-color: #7F7FD5;
    color: white;
    transform: scale(1.1);
}

span{
    color: yellow;
}


.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 200px 0 0 0 ;
    align-items: center;
    gap: 20px;
}

.footer_title:hover{
    color: white;
    transform: translateY(-5);
}